<!-- <button type="button" (click)="mahesh()" style="padding: 10px;">get api</button> -->

<br>
<br>
<br>
<br>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <!-- <th>EmployeeID (F)</th> -->
      <th>EmployeeNumber</th>
      <th>FullName</th>
      <th>DateOfBirth (C)</th>
      <!-- <th>IdNumber</th> -->
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <!-- <td>{{ forecast.employeeID }}</td> -->
      <td>{{ forecast.employeeNumber }}</td>
      <td>{{ forecast.fullName }}</td>
      <td>{{ forecast.dateOfBirth }}</td>
      <!-- <td>{{ forecast.idNumber }}</td> -->
      <td>{{ forecast.address }}</td>
    </tr>
  </tbody>
</table>
